<h1>New city</h1>

<%= form_for @city, url: {action: 'create'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.select(:region_id, @regions_array) %>
  <%= f.submit 'create' %>
<% end %>
